In [2]:
print("hello world!")

hello world!

In [4]:
True

True

# TIPOS DE DADOS

### STRING

In [9]:
'esse é um texto do tipo string de aspas simples.'
"esse é um texto do tipo string de aspas duplas."
'''esse é um texto do tipo string de aspas triplas simples.'''
"""esse é um texto do tipo string de aspas triplas duplas."""

'esse é um texto do tipo string de aspas triplas duplas.'

### CASOS ESPECIAIS DAS STRINGS

ESCAPE CHARACTER

In [15]:
"\"don't look at me\"'  # invisible(invisível) characters

'"don\'t look at me"'

In [19]:
print("\"don't look at me\"")

"don't look at me"

In [27]:
print("Olá mundo.\nMeu nome é Victor.")
print("Olá mundo. Meu nome é Victor.")
print("Olá mundo.\tMeu nome é Victor.")

Olá mundo.
Meu nome é Victor.
Olá mundo. Meu nome é Victor.
Olá mundo.	Meu nome é Victor.

## DESAFIO 1: em duas linhas imprima boas vindas ao usuário.

In [31]:
# solução 1
dados = input("Digite seu nome e sua idade: ").split()
print(f"Olá {dados[0]}.\nSua idade é {dados[1]}.")

dados = input("Digite seu nome e sua idade: ").split()
print("Olá {}.\nSua idade é {}.".format(dados[0], dados[1]))

Digite seu nome e sua idade: victor 27
Olá victor.
Sua idade é 27.
Digite seu nome e sua idade: victor 27
Olá victor.
Sua idade é 27.

In [40]:
# solução 2
# frutas = ["toranja", "bergamota", "figo"]

nome, idade = input("Digite seu nome e sua idade: ").split()
print(f"Olá {nome}.\nSua idade é {idade}.")

Digite seu nome e sua idade: victor 27
Olá victor.
Sua idade é 27.

### SPLIT

In [41]:
"nome,idade,cpf,email".split(",")

['nome', 'idade', 'cpf', 'email']

### MANIPULANDO STRINGS/TEXTO

In [43]:
estados = """
COD,NOME,SIGLA
35,São Paulo, SP
41,Paraná, PR
42,Santa Catarina, SC
43,Rio Grande do Sul, RS
50,Mato Grosso do Sul, MS
11,Rondônia, RO
12,Acre, AC
13,Amazonas, AM
14,Roraima, RR
15,Pará, PA
16,Amapá, AP
17,Tocantins, TO
21,Maranhão, MA
24,Rio Grande do Norte, RN
25,Paraíba, PB
26,Pernambuco, PE
27,Alagoas, AL
28,Sergipe, SE
29,Bahia, BA
31,Minas Gerais, MG
33,Rio de Janeiro, RJ
51,Mato Grosso, MT
52,Goiás, GO
53,Distrito Federal, DF
22,Piauí, PI
23,Ceará, CE
32,Espírito Santo, ES
"""
print(estados)

COD,NOME,SIGLA
35,São Paulo, SP
41,Paraná, PR
42,Santa Catarina, SC
43,Rio Grande do Sul, RS
50,Mato Grosso do Sul, MS
11,Rondônia, RO
12,Acre, AC
13,Amazonas, AM
14,Roraima, RR
15,Pará, PA
16,Amapá, AP
17,Tocantins, TO
21,Maranhão, MA
24,Rio Grande do Norte, RN
25,Paraíba, PB
26,Pernambuco, PE
27,Alagoas, AL
28,Sergipe, SE
29,Bahia, BA
31,Minas Gerais, MG
33,Rio de Janeiro, RJ
51,Mato Grosso, MT
52,Goiás, GO
53,Distrito Federal, DF
22,Piauí, PI
23,Ceará, CE
32,Espírito Santo, ES

In [49]:
estados.split()

['COD,NOME,SIGLA',
 '35,São',
 'Paulo,',
 'SP',
 '41,Paraná,',
 'PR',
 '42,Santa',
 'Catarina,',
 'SC',
 '43,Rio',
 'Grande',
 'do',
 'Sul,',
 'RS',
 '50,Mato',
 'Grosso',
 'do',
 'Sul,',
 'MS',
 '11,Rondônia,',
 'RO',
 '12,Acre,',
 'AC',
 '13,Amazonas,',
 'AM',
 '14,Roraima,',
 'RR',
 '15,Pará,',
 'PA',
 '16,Amapá,',
 'AP',
 '17,Tocantins,',
 'TO',
 '21,Maranhão,',
 'MA',
 '24,Rio',
 'Grande',
 'do',
 'Norte,',
 'RN',
 '25,Paraíba,',
 'PB',
 '26,Pernambuco,',
 'PE',
 '27,Alagoas,',
 'AL',
 '28,Sergipe,',
 'SE',
 '29,Bahia,',
 'BA',
 '31,Minas',
 'Gerais,',
 'MG',
 '33,Rio',
 'de',
 'Janeiro,',
 'RJ',
 '51,Mato',
 'Grosso,',
 'MT',
 '52,Goiás,',
 'GO',
 '53,Distrito',
 'Federal,',
 'DF',
 '22,Piauí,',
 'PI',
 '23,Ceará,',
 'CE',
 '32,Espírito',
 'Santo,',
 'ES']

In [53]:
estados.split("\n")

['',
 'COD,NOME,SIGLA',
 '35,São Paulo, SP',
 '41,Paraná, PR',
 '42,Santa Catarina, SC',
 '43,Rio Grande do Sul, RS',
 '50,Mato Grosso do Sul, MS',
 '11,Rondônia, RO',
 '12,Acre, AC',
 '13,Amazonas, AM',
 '14,Roraima, RR',
 '15,Pará, PA',
 '16,Amapá, AP',
 '17,Tocantins, TO',
 '21,Maranhão, MA',
 '24,Rio Grande do Norte, RN',
 '25,Paraíba, PB',
 '26,Pernambuco, PE',
 '27,Alagoas, AL',
 '28,Sergipe, SE',
 '29,Bahia, BA',
 '31,Minas Gerais, MG',
 '33,Rio de Janeiro, RJ',
 '51,Mato Grosso, MT',
 '52,Goiás, GO',
 '53,Distrito Federal, DF',
 '22,Piauí, PI',
 '23,Ceará, CE',
 '32,Espírito Santo, ES',
 '']

In [86]:
alunos = [
    "pablo",
    "nicolas a.",
    "raquel",
    "patrick",
    "lucas",
    "rafael",
    "rodolpho",
    "natali",
    "victor",
    "thiago",
    "roberval",
    "vinicius",
    "marcos",
    "rodrigo",
    "renan",
    "nicolas f.",
    "thalith",
    "watuse",
    "victoria"
]

In [69]:
# # del alunos[2]
# # alunos
# alunos.pop(1)

In [108]:
# import random

# alunos.pop(alunos.index(random.choice(alunos)))

# REQUISITOS PARA SER UM DEV DE RESPEITO

* Python: lógica de programação, portifólio, projetos e softwares criados(que resolvam problemas úteis)
* Banco de dados: CSV, SQL: Sqlite3, Postgres, MySQL
* Bibliotecas: Web (Flask, FastAPI, "DJANGO eu não recomendo), DS (pandas, numpy, tensor flow, spark)
* Processos/programação em nuvem: GCP, AWS, Heroku. (https://www.youtube.com/watch?v=TLRW_xTnQwY&t=1091s)

### OUTROS TIPOS DE STRING/TEXTO

In [131]:
r"raw string"  # texto seco, cru, literal
b"encoded text"  # texto binarizado, encodado
"victor".encode("ascii")

b'victor'

### LISTAS - Mutáveis

In [121]:
frutas = ["tomate", "maça", "morango", "banana", "pêra", "pêssego", "bergamota"]
frutas[0]

'tomate'

In [129]:
nome, sobrenome = input("Digite seu nome e sobrenome: ").split()
print(f"As iniciais do seu nome são {nome[0]}{sobrenome[0]}.")
print(nome[0] + sobrenome[0])
print(nome[0], sobrenome[0], sep=".")

Digite seu nome e sobrenome: Victor Matos
As iniciais do seu nome são VM.
VM
V.M

# FUNÇÕES

### CRIANDO FUNÇÕES PRÓPRIAS

* função dummy

In [134]:
# criação de função

def minha_funcao():
     ... # Ellipsis # 1 # ... # pass


# chamada de função
minha_funcao()

In [148]:
# parâmetro padrão

def func2(parametro1="", parametro2=""):
    return parametro1 + parametro2

valor = func2("5", " COISAS")
print(valor)

# parâmetro obrigatório

def func3(parametro1, parametro2):
    return parametro1 + parametro2

valor = func3("5", " COISAS")
print(valor)

Olá  COISAS